html {
    font-family: 'helvetica';
}
body {
    background-color: white;
}
h1 {
    font-size: 30px;
    margin: 3px;
}
h2 {
    font-size: 20px;
    margin: 5px;
}
.objectivesContainer {
    margin-top: 10px;
}
